---
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import MainLayout from '../../layouts/MainLayout.astro';
import type { TPost } from '../../../types';
import type { PaginateFunction } from 'astro';
import Pagination from '../../components/Pagination.astro';

const FIRST_PATH = "blog"

export async function getStaticPaths({paginate}:{paginate: PaginateFunction}) {
	const posts = (await getCollection('blog')).sort(
		(a:TPost, b:TPost) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
	);

	return paginate(posts, {
		pageSize: 5,
	})
}

const { page } = Astro.props;
---

<style>
	main {
		width: 960px;
		padding-bottom: 30px;
	}
	.content-box {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	.content-box .content {
		width: calc(50% - 1rem);
	}
	.content-box .content * {
		text-decoration: none;
		transition: 0.2s ease;
	}
	.content-box .content:first-child {
		width: 100%;
		margin-bottom: 1rem;
		text-align: center;
	}
	.content-box .content:first-child img {
		width: 100%;
	}
	.content-box .content:first-child .title {
		font-size: 2.369rem;
	}
	.content-box .content img {
		margin-bottom: 0.5rem;
		border-radius: 12px;
	}
	.content-box .content a {
		display: block;
	}
	.title {
		margin: 0;
		color: rgb(var(--black));
		line-height: 1;
	}
	.date {
		margin: 0;
		color: rgb(var(--gray));
	}
	.content-box .content a:hover h4,
	.content-box .content a:hover .date {
		color: rgb(var(--accent));
	}
	.content-box a:hover img {
		box-shadow: var(--box-shadow);
	}
	.content-box .content:not(:first-child) .parent {
		height: 270px;
		margin-bottom: 15px;
	}
	@media (max-width: 720px) {
		.content-box {
			gap: 0.5em;
		}
		.content-box .content {
			width: 100%;
			text-align: center;
		}
		.content-box .content:first-child {
			margin-bottom: 0;
		}
		.content-box .content:first-child .title {
			font-size: 1.563em;
		}
		.content-box .content:not(:first-child) .parent {
			height: auto;
		}

	}
</style>

<MainLayout title="DEV Inertia | Blog">
	<main>
		<section>
			<div class="content-box">
				{
					page.data?.map((post:TPost) => (
						<div class="content">
							<a href={`/blog/view/${post.slug}/`}>
								<div class="parent">
									<img width={720} class="object-cover h-full" src={post.data.heroImage} alt="" />
								</div>
								<h4 class="line-clamp-2 title" title={post.data.title}>{post.data.title}</h4>
								<p class="date">
									<FormattedDate date={post.data.pubDate} />
								</p>
							</a>
						</div>
					))
				}
			</div>
			<div class="flex justify-center mt-9">
				<Pagination 
					length={page.lastPage} 
					currentUrl={page.url.current} 
					currentPage={page.currentPage} 
					firstUrl={`/${FIRST_PATH}`} 
					prevUrl={page.url.prev} 
					nextUrl={page.url.next} 
					lastUrl={`/${FIRST_PATH}/${page.lastPage}`}
				/>
			</div>
		</section>
	</main>
</MainLayout>
